Package: com.moustache.mod
Name: Moustache Mod
Version: 1.0.0
Architecture: iphoneos-arm
Description: Best AutoClicker Tweak
Section: Tweaks
Author: Moustache
Depends: mobilesubstrate, firmware (>= 14.0)
